/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #333333;
}

.container {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

header, footer {
    background: #000000;
    color: #100f0f;
    text-align: center;
    padding: 1rem 0;
}

.menu {
  background: #444;
}

.menu {
     list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  font-weight: bold;
}

.menu a:hover {
  background: #555;
  border-radius: 5px;
}

.logo {
    max-width: 300px;
    margin: 20px auto;
    display: block;
}

/* Lista de Produtos */
.product-list {
    flex: 3; /* Ocupa 3/4 do espaço */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    background: #F4F5F5F5;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    width: calc(33.333% - 20px);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

.product-card img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-card h3 {
    margin: 10px 0;
}

.product-card .description {
    font-size: 0.9em;
    color: #666;
    flex-grow: 1; /* Faz a descrição ocupar o espaço disponível */
}

.product-card .price {
    font-size: 1.2em;
    font-weight: bold;
    color: #E10600;
    margin: 10px 0;
}

/* Carrinho de Compras */
.cart {
    flex: 1; /* Ocupa 1/4 do espaço */
    background: #F5F5F5 ;
    padding: 20px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    height: fit-content;
}

.cart h2 {
    text-align: center;
    margin-top: 0;
}

#cart-items ul {
    list-style: none;
    padding: 0;
}

#cart-items li {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #F4F4F4;
}

#cart-items li span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart .total {
    font-weight: bold;
    font-size: 1.2em;
    text-align: right;
    margin-top: 20px;
}

/* Botões */
.add-to-cart-btn, #checkout-button {
    display: inline-block;
    background: #E10600;
    color: #F4F4F4;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover, #checkout-button:hover {
    background: #E10600;
}

#checkout-button {
    width: 100%;
    margin-top: 15px;
    background-color: #E10600;
}

#checkout-button:hover {
    background-color: #E10600;
}

.remove-item-btn {
    background: #dc3545;
    color: #E0E0E0;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
}

/* Campo de Observação */
.observation-box {
    margin-top: 20px;
}

.observation-box label {
    display: block;
    margin-bottom: 5px;
}

.observation-box textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    box-sizing: border-box; /* Garante que padding não afete a largura total */
}

/* carrosel de imagens */
.carrossel {
  position: relative;
  max-width: 1000px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slide.ativo {
  opacity: 1;
}

.slide img {
  width: 100%;
  display: block;
}

.controles {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  padding: 0 10px;
}

.controles span {
  background: rgba(0,0,0,0.5);
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}

.indicadores {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.indicadores .dot {
  height: 10px;
  width: 10px;
  background: #ccc;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.indicadores .dot.ativo {
  background: #333;
}

/* Login */

.login {
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  text-align: center;
}

.form-login {
  display: flex;
  flex-direction: column;
}

.form-login label {
  margin-top: 10px;
  text-align: left;
}

.form-login input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-login button {
  margin-top: 20px;
  padding: 10px;
  background: #444;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-login button:hover {
  background: #555;
}

.form-login p {
  margin-top: 15px;
  font-size: 14px;
}

.form-login p a {
  color: #444;
  text-decoration: none;
  font-weight: bold;
}

.form-login p a:hover {
  text-decoration: underline;
}



/* Responsividade para Telas Menores */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .product-card {
        width: 100%;
    }
}